@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
* {
    font-family: 'IBM Plex Sans', sans-serif;
}

.text-brand {
    color: #882c94;
}

.btn-brand {
    width: 200px;
    height: 45px;
    background-color: #882c94;
    border: none;
    border-radius: 4px;
}

.btn-brand:hover {
    background-color: black;
}

.secondary-image {
    -webkit-transition: .2s all;
}

.secondary-image:hover {
    -webkit-filter: brightness(80%);
}

.title-text:hover {
    color: #882c94 !important;
}

.action-section {
    margin: 30px auto 0 auto;
    align-items: center;
    background-image: linear-gradient(45deg, #882c94, #a463ac);
    min-height: 59px;
    max-width: 890px;
    border-radius: 35px;
    color: white;
}

.btn-register {
    background-image: linear-gradient(335.64deg, rgb(255, 88, 155) -19.22%, rgb(255, 19, 111) 118.87%);
    color: #fff;
    border: none;
    margin: 10px auto;
    padding: 15px 35px;
    border-radius: 40px;
    text-align: center;
}

.btn-register:hover {
    background-image: linear-gradient(335.64deg, rgb(231, 67, 133) -19.22%, rgb(252, 13, 104) 118.87%);
}

.subscribe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./images/bg-contact.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 300px;
}

.input-email {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.input-email:focus {
    outline: none;
}

@media (max-width:768px) {
    .input-email {
        width: 300px;
    }
}

@media (max-width:454px) {
    .input-email {
        width: 200px;
    }
}

@media (max-width:354px) {
    .input-email {
        width: 180px;
    }
}